cython
blinker
lirc
git+https://github.com/tompreston/python-lirc.git/#egg=python-lirc
git+https://github.com/piface/pifacecommon/#egg=pifacecommon
git+https://github.com/piface/pifacecad/#egg=pifacecad
